# Pandas Series

In [3]:
import pandas as pd
import numpy as np

## Series from List

In [4]:
country = ["Pakistan", "India" , "Nepal" , "UAE" , "USA"]
pd.Series(country)

0    Pakistan
1       India
2       Nepal
3         UAE
4         USA
dtype: object

In [5]:
marks = [987,4586,45,786]
pd.Series(marks)

0     987
1    4586
2      45
3     786
dtype: int64

In [6]:
#custom indexing :
subject= ["English","Urdu","Physics","Math"]

In [7]:
#setting a name:
marks  = pd.Series(marks ,index=subject ,name="Marks of Ali")
marks

English     987
Urdu       4586
Physics      45
Math        786
Name: Marks of Ali, dtype: int64

## Series from dict

In [8]:
marks = {
    'urdu' : 90,
    'Pak-studies' : 67 ,
    'Chemistry'  : 91,
    'Biology '  : 87

}
marks_series = pd.Series(marks , name = "Marks from Dict series")
marks_series

urdu           90
Pak-studies    67
Chemistry      91
Biology        87
Name: Marks from Dict series, dtype: int64

## Series Attributes

In [9]:
#size
marks_series.size

4

In [10]:
#dtype
marks_series.dtype

dtype('int64')

In [11]:
marks_series.name

'Marks from Dict series'

In [13]:
#is_unique
marks_series.is_unique

True

In [14]:
#index
marks_series.index

Index(['urdu', 'Pak-studies', 'Chemistry', 'Biology '], dtype='object')

In [15]:
#values
marks_series.values

array([90, 67, 91, 87], dtype=int64)

## Series using read_csv

In [23]:
# using one column 
col1 = pd.read_csv('subs.csv' )
col1 = col1.squeeze()
type(col1)

pandas.core.series.Series

In [36]:
col2 = pd.read_csv('kohli_ipl.csv' , index_col='match_no' , val)
col2 = col2.squeeze()
col2

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [40]:
bolly = pd.read_csv('bollywood.csv' , index_col='movie')
bolly = bolly.squeeze()
bolly

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

### Series methods
#### (important)

In [42]:
#head and tail
bolly.head()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
Name: lead, dtype: object

In [45]:
bolly.head(10)

movie
Uri: The Surgical Strike                       Vicky Kaushal
Battalion 609                                    Vicky Ahuja
The Accidental Prime Minister (film)             Anupam Kher
Why Cheat India                                Emraan Hashmi
Evening Shadows                             Mona Ambegaonkar
Soni (film)                             Geetika Vidya Ohlyan
Fraud Saiyaan                                   Arshad Warsi
Bombairiya                                      Radhika Apte
Manikarnika: The Queen of Jhansi              Kangana Ranaut
Thackeray (film)                         Nawazuddin Siddiqui
Name: lead, dtype: object

In [43]:
bolly.tail()

movie
Hum Tumhare Hain Sanam      Shah Rukh Khan
Aankhen (2002 film)       Amitabh Bachchan
Saathiya (film)               Vivek Oberoi
Company (film)                  Ajay Devgn
Awara Paagal Deewana          Akshay Kumar
Name: lead, dtype: object

In [56]:
bolly.sample()

movie
Dhadak    Ishaan Khattar
Name: lead, dtype: object

In [57]:
bolly.sample(4)

movie
Raazi                    Alia Bhatt
Section 375          Akshaye Khanna
The Dirty Picture       Vidya Balan
My Friend Pinto             Prateik
Name: lead, dtype: object